nav{
    display: flex;
    margin: auto;
    justify-content: space-between;
    text-align: center;

    align-items:center !important;

    margin-top: 25px;
}

.nav-list{
    list-style: none;
    display: flex;
    align-items: center;

    font-size: 1.1rem;
    font-weight: 600;
    color: grey;

    text-align: center;

    margin-left: 59px;

}

.nav-list li{
    padding: 20px;
}

nav h1{
    
    margin-left: 6px;

}
.logo-div{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 50px;
}
.logo-div img{
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
}
.btn-div button{
    padding: 15px;

    font-size: 1rem;
    font-weight: 700;


}
.btn-div{
    margin-right: 30px;

}

.login-btn{
    background: rgb(255, 255, 255);
    border: 2px solid rgba(83, 83, 83, 0.26);

    width: 80px;
    margin-right: 13px;
    border-radius: 10px;

    transition: all .5s ease;

}

.gs-btn{
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 2px solid black;

    transition: all .5s ease;
}


.gs-btn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 15px black;
}
.login-btn:hover{
    cursor: pointer;
    border: 2px solid black;
}

/* Small Devices */
@media (max-width: 576px) {
    nav {
        font-size: 12px;
        margin-bottom: 150px;
        justify-content:space-between;
    }
    .logo-div img{
        margin-left: -40px;
    }
    .logo-div{
        margin-right: 10px;
    }
    .list-div{
        display: none;
    }
    .btn-div button{
        font-size: 12px;
    }
    .btn-div{
        margin-right: 7px;
    }
    .login-btn{
        display: none;
    }
    .gs-btn{
        width: 100px;
       
    }
}
/* Small Devices End */