.pricing-section{
    margin-top: 200px;

    margin-bottom: 200px;

}
.p1{
    margin-bottom: 15px;
}

.button-div{
    display: flex;
    justify-content: center;
    margin: auto;

    align-items: center;
    
    margin-top: -15px;
}

.button{
    margin-right: 15px;
    margin-left: 15px;
    background-color: grey;
    width: 50px;
    height: 25px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
}
.button::before{
    position: absolute;
    content: '';
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 200px;
    margin: 3px;
    transition: .5s;
}
input:checked + .button{
    background-color: #5F58FE;
}


input:checked + .button::before{

    transform: translateX(23px);

    
}

input{
    display: none;
}


.text {
    transition: all 0.5s ease-in-out;
  }
  
  .bold {
    font-weight: bold;
    opacity: 1;
    transform: scale(1.2); /* Slightly increase size for effect */
  }
  
  .text:not(.bold) {
    opacity: 0.5;
    transform: scale(1);
  }

  .save-text{
    text-align: center;
    color: rgb(10, 211, 127);
    font-weight: bold;
    margin-top: 5px;
}


.pricing-card-div{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
}

.card1, .card2{
    margin-top: 40px;
    padding: 25px;

    font-size: 12px;

    width: 450px;
    height: 280px;

    border-radius: 20px;

    display: grid;
    grid-template-columns: auto auto;

    padding-top: 15px;
}

.card1{
    margin-left: 20px;
    color: white;
    background: #6A62FD;
    box-shadow: 0px 1px 10px #3e36d7;

}
.card1 h3{
    color: white;
    font-size: 1.1rem !important;
}
.card2 h3{
    color: black;
    font-size: 1.1rem !important;
}

.card2{
    color: black;
    background-color: whitesmoke;
    border: 2px solid lightgray;

    box-shadow: 0px 1px 10px rgba(57, 57, 57, 0.231) ;
}
.pricing-card-left{
    margin-left: 7px;
}
.pricing-card-title{
    display: flex;
    margin-top: 20px;
}
.pricing-card-title h3{
    margin-right: 10px;
    font-size: 15px;
    margin-bottom: 0px;
}
.pricing-card-title p{
    margin-bottom: 0px;
    
    font-weight: bold;
    text-align: center;
    
    color: black;
    background-color: white;
    
    padding: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    
    width: 60px;
        
    border-radius: 7px;
}
.pricing-card-text{
    font-size: 13px;
}
.price{
    margin-top: 20px;
    font-size: 2.2rem;
    margin-bottom: 0px;
}
.last-text{
    margin-top: 7px;
}

.pricing-card-right ul{
    width: 200px;
    text-align: left;
    list-style-type:none;
    margin-top: 25px;
}
.pricing-card-right img{
    width: 10px;
    margin-right: 10px;
}
.pricing-card-right{
    width: 100px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.pricing-card-right ul li{
    line-height: 1.4rem;
}

.gs-button{
    grid-column: 1/ span 3;
    grid-row: 2;

    margin: auto;
}

.gs-button button{
  padding: 13px;
  width: 450px;
  border-radius: 10px;

  border: 2px solid white;

  font-weight: bold;

    margin-top: 15px;
  

}
.gs-button button:hover{
    cursor: pointer;
}
.left-side-p{
    padding-left: 20px;
}

.card2 button{
    background-color: #6A62FD;
    color: white;
    border: 2px solid #6A62FD;
    
}

.card2 button:hover{
    box-shadow: 0px 0px 10px #6A62FD;
}
.card1 button:hover {
    box-shadow: 0px 0px 10px white;    
}


/* Small Devices */
@media (max-width: 576px) {

    .button-div, .save-text{
        display: none;
    }
    .pricing-card-div{
        flex-direction: column;
    }
    .card1, .card2{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        width: 280px;
        height: 500px;
        
    }
    .pricing-card-right{
        margin-left: 7px;
        
    }

    .gs-button button{
        width: 250px;
        margin: 0px;
    }

    .text-div-title{
        margin-left: -10px;
    }
    .text-div .p2{
        margin-top: 10px;

    }
}
/* Small Devices End */

/* Medium Devices */
@media (min-width: 577px) and (max-width: 767px) {
  
    .button-div, .save-text{
        display: none;
    }
    .pricing-card-div{
        flex-direction: column;
        margin-left: 20px;
    }
    .card1{
        margin-left: 0px;
    }
    .pricing-section .p2{
        margin-top: 10px;
    }
}
/* End Medium Devices */